*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
      background-color: var(--primary-color);
      background-attachment: fixed;
      font-family: "Roboto", sans-serif;
  }

  :root{
    --primary-color:  #d7d8da;
    --secondary-color:  #212121;
  }
  .dark-theme{
   --primary-color: #0d0d0f;
    --secondary-color:  #fff;
  }


  .im{
    display: fixed;
    position: absolute;
    top: 92vh;
    right: 1%;
  }

  .nt{
    max-width: 15vw;
    height: 5vh;
  }

.banner{
    background-image: url(../Img/ner.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 90px;
}

#icon{
margin-left: 10px;
width: 3vw;
height: 5vh;
cursor: pointer;
z-index: 1;
filter: contrast(5);
filter: saturate(3);
}

.head{
 margin-top: 0px;
 position: absolute;
 top:0%;
 left:0%;
 width: 100%;
 padding: 0px 25px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 100;
}

.pic{
 margin-top: 10px;
 display: flex;
 z-index: 10;
 filter: contrast(2);
 filter: saturate(3);
 cursor: pointer;
 width: 5vw;
 height: 10.5vh;
}

.search {
 display: flex;
 position: absolute;
 margin-left: 60px;
 align-items: center;
 background-color: white;
 padding: 5px;
 border-radius: 30px;
 border: 5px inset orangered;
 z-index: 10;
}
.search :is(input, button) {
 background: transparent;
 color: black;
 font-size: 1rem;
 border: none;
 outline: none;
}
.search__input {
 width: 17vw;
}
.search__button {
 display: grid;
 place-items: center;
 width: 2vw;
 height: 2.5vh;
 cursor: pointer;
 transition: color 0.25s;
}
.search__button:hover {
 color: gray;
}
.search:focus-within input {
 width: 17vw;
}
::placeholder {
 font-size: .9rem;
 font-family: "Poppins", sans-serif;
 color: gray;
}

.navbar{
 max-width: var(--max-width);
 z-index: 2;
}

.navbar a{
 position: relative;
 font-size: 1.1rem;
 color: black;
 font-family: "Poppins", sans-serif;
 font-weight: 500;
 text-decoration: none;
 padding: 10px;
}

.navbar a:hover{
 color: darkblue;
}
.navbar a span{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
 border-bottom: 5px solid orangered;
 border-radius: 50px;
 transform: scale(0) translateY(50px);
 transition: .3s;
}
.navbar a:hover span{
 transform: scale(1) translateY(0);
}
.navbar i{
 color: goldenrod;
}

.banner{
 position: relative;
 box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1) insert;
}
.banner:before,
.banner:after{
 content:'';
 position: absolute;
 z-index:-1;
 box-shadow: 0 0 5px var(--secondary-color);
 top: 0%;
 bottom: 0%;
 left: 0%;
 right: 0%;
}
